[submodule "third_party/zydis"]
	path = third_party/zydis
	url = ../../zyantific/zydis.git
[submodule "third_party/cunittest"]
	path = third_party/cunittest
	url = https://github.com/qgymib/cunittest.git
